PORT =open port
DB_CNN =mongodb link

SECRET_JWT_SEED =seed for JWT very very secret

CLIENT_URL=url of the front end

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM=your_email@gmail.com