@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
@import "tailwindcss";


@theme {
  /* Page background (Lightest) */
  --color-background: #f9ebe7;  
  
  /* Buttons, Main Headings (Darkest) */
  --color-primary: #5e4a46;    
  
  /* Accents, Highlights (The 'Pop' color) */
  --color-secondary: #e8c4c4;   
  
  /* Borders, Cards, Subtle details */
  --color-accent: #a18276;      
  
  /* Panels, Input fields */
  --color-surface: #caa6a0;     
  
  /* Subtle text or dividers */
  --color-muted: #a18276;

  --color-secondary2: #C4873A;

  --font-display: "Cormorant Garamond", serif;
}

@layer components {
  .hole-mask {
    
    /* svg helps so the zoom isnt trashed pixeled */
    -webkit-mask-image: url(./assets/shapeV2.svg);
    mask-image: url(./assets/shapeV2.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 18vmin;
    mask-size: 18vmin;
    /* This inverts the mask — black area shows, hole is transparent */
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@layer base {
  html{
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
  }
}


/* background image for use later?? maybe?? possibly?? who knows... */
@layer utilities {

  .bg-dashboard {
      background-image: url("./assets/blurImage.jpg"); /*image path */
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter: blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }


  .animate-fade-in {
    animation: fade-in 0.8s ease-out both;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }


}

@layer components{
  .glass{
    background-color: color-mix(in srgb, var(--color-background) 50%, transparent);
    backdrop-filter: blur(16px);

  }
}